.box {
    background-color: antiquewhite;
    padding: 25px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.buttons div {
    padding: 25px;
}

.inputarea {
    padding: 25px;
    background-color: aquamarine;
    border-radius: 25px;
    border-style: ridge;
    border-color: blueviolet;
    text-transform: capitalize;
    color: blue;
    font-size: 30px;
    font-weight: 700;
}


.inputarea2 {
    display: none;
}

.inputarea3 {
    display: none;
}

.divArea {
    padding: 25px;
    background-color: rgb(255, 136, 0);
    text-transform: capitalize;
    color: blue;
    font-size: 30px;
    font-weight: 700;
    border: 0.5px solid brown;
}

.divArea p {
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 400;
}
